@import url(/Sass/cssreload.css);
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

$Softred: hsl(10, 79%, 65%);
$Cyan: hsl(186, 34%, 60%);
$Darkbrown: hsl(25, 47%, 15%);
$Mediumbrown: hsl(28, 10%, 53%);
$Cream: hsl(27, 66%, 92%);
$Verypaleorange: hsl(33, 100%, 98%);
$font: 'DM Sans';

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $Cream;
    p{
        font-family: $font;
    }
}

.container{
    background-color: $Cream;
    width: 100vw;
    height: 100vh;
    max-width: 570px;
    padding: 40px 15px  65px 15px ;
    gap: 15px;
    display: flex;
    flex-direction: column;

    .total{
        background-color: $Softred;
        border-radius: 10px;
        height: 95px ;
        width:  100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
        padding-left: 20px;

        .balance{
            display: flex;
            flex-direction: column;
            gap: 8px ;
            color: $Verypaleorange;
            .value{
                font-size: 1.6rem;
            }
            .balance_txt{
                font-size: 0.9rem;
                color: $Cream;
            }
        }
        img{
            width: 60px;
        }
    }

    .semana_container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: $Verypaleorange;
        padding: 30px 20px;
        border-radius: 10px;

        .title{
            font-size: 1.55rem;
            font-weight: 700;
            color: $Darkbrown;
        }

        .semana{
            display: flex;
            justify-content: space-around;
            width: 100%;
            gap: 12px;
            font-size: 0.9rem;
            
            margin-bottom: 26px ;
            margin-top: 50px;
            .dias{
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;
                color: $Mediumbrown;
                justify-content: end;
                
                
            }
            .g_dias{
                width: 33px;
                
                background-color: $Softred;
                height: 50px;
                border-radius:2px;
                align-items:center;
            }
            .g_dias:hover{
                background-color: hsl(10, 79%, 65%, 0.7);
                cursor: pointer;
            }
            .grafico_mon{
                height: 50px;
            }
            .grafico_thu             {
                height: 90px;
            }
            .grafico_tue{
                height: 100px;
            }
            .grafico_wed{
                height: 150px;
                background-color: $Cyan;
            }
            .values{
                display: none;
                
                font-family: $font;
                font-size: 0.7rem;
                
                text-align: center;
                padding: 6px;
                border-radius:3px ;
                background-color: $Darkbrown;
                color: white;
            }
            .values:hover{
                cursor: pointer;
            }
            .value_mon{
                position: absolute;
                top: 300px;
            }
            .value_tue{
                position: absolute;
                top: 250px;
            }
            .value_wed{
                position: absolute;
                top: 200px;
            }
            .value_thu{
                position: absolute;
                top: 260px;
            }
            .value_fri{
                position: absolute;
                top: 280px;
            }
            .value_sat{
                position: absolute;
                top: 220px;
            }
            .value_sun{
                position: absolute;
                top: 275px;
            }
            .grafico_wed:hover{
                background-color: hsl(186, 34%, 60%, 0.7);
                .value_wed{
                    display: block;
                }
                
            }
            .grafico_fri{
                height: 68px;
            }
            .grafico_sat{
                height: 125px ;
            }
            .grafico_sun{
                height: 75px ;
            }



        }

        .total_month_container{
            display: flex;
            justify-content: space-between;
            align-items: end;
            margin-top:25px;
            .total_month{
                .total_month_txt{
                    font-size: 0.9rem;
                    color: $Mediumbrown;
                }
                .total_month_value{
                    font-size: 1.8rem;
                    color: $Darkbrown;
                    font-weight: 700;
                    margin-top: 5px;
                }

            }

            .last_month{
                span{
                    font-size: 1.1rem;
                    color: $Darkbrown;
                    font-weight: 700;
                }
                p{
                    font-size: 0.9rem;
                    color: $Mediumbrown;
                    text-align: right;
                    align-items: end;
                }
            }
        }

    }

}


.attribution { 
    font-size: 0.8rem;
    text-align: center;
    background-color: $Cream;
    margin: 30px 0;
    a { color: hsl(228, 45%, 44%); 
        text-decoration: none;

    }
}
@media screen and (min-width:476px) {
    


.container{
        margin-top: 80px;

    .total{
        height: 105px;
        padding: 27px 35px 27px 28px; 
        .balance{

            .value{
                font-size: 1.7rem;
            }
            .balance_txt{
                font-size: 1rem;
            }
        }    
        img{
            width: 65px;
        }
    }

    .semana_container{
        height: 440px;
        padding: 31px 30px ;
        .title{
            font-size: 1.85rem;
        }
        .semana{
            font-size: 1rem;
            .values{
                font-size: 0.8rem;
            }
            .g_dias{
                transform: scaleX(1.2);
                }
                .value_mon{
                    top: 350px;
                }
                .value_tue{
                    top: 300px;
                }
                .value_wed{
                    top: 250px;
                }
                .value_thu{
                    top: 310px;
                }
                .value_fri{
                    top: 330px;
                }
                .value_sat{
                    top: 280px;
                }
                .value_sun{
                    top: 325px;
                }

            
            
            }

            .total_month_container{
                .total_month{
                    .total_month_txt{
                        font-size: 1rem;
                    }
                    .total_month_value{
                        font-size: 1.9rem;
                    }
                }
                .last_month{
                    span{
                        font-size: 1.2rem;
                    }
                    p{
                        font-size: 1rem;
                    }
                }
            }
        }
    }

}


@media screen and (min-width:530px) {

    .container{
        margin-top: 180px;

        .total{
            height: 125px;
            padding: 30px 39px 30px 32px;    
            .balance{

                .value{
                    font-size: 1.8rem;
                }
                .balance_txt{
                    font-size: 1.1rem;
                }
            }    
            img{
                width: 70px;
            }   
        }

        .semana_container{
            height: 510px;
            padding: 35px 39px;
            .title{
                font-size: 2rem;
            }
            .semana{
                .values{
                    font-size: 0.9rem;
                }
                font-size: 1.1rem;
                .g_dias{
                    transform: scaleX(1.5);
                    }
                    .value_mon{
                        top: 410px;
                    }
                    .value_tue{
                        top: 360px;
                    }
                    .value_wed{
                        top: 320px;
                    }
                    .value_thu{
                        top: 370px;
                    }
                    .value_fri{
                        top: 390px;
                    }
                    .value_sat{
                        top: 340px;
                    }
                    .value_sun{
                        top: 385px;
                    }
                }

                .total_month_container{
                    .total_month{
                        .total_month_txt{
                            font-size: 1.1rem;
                        }
                        .total_month_value{
                            font-size: 2rem;
                        }
                    }
                    .last_month{
                        span{
                            font-size: 1.3rem;
                        }
                        p{
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    
    }
    
