@import url(/Sass/cssreload.css);
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(27, 66%, 92%);
}
body p {
  font-family: "DM Sans";
}

.container {
  background-color: hsl(27, 66%, 92%);
  width: 100vw;
  height: 100vh;
  max-width: 570px;
  padding: 40px 15px 65px 15px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.container .total {
  background-color: hsl(10, 79%, 65%);
  border-radius: 10px;
  height: 95px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  padding-left: 20px;
}
.container .total .balance {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: hsl(33, 100%, 98%);
}
.container .total .balance .value {
  font-size: 1.6rem;
}
.container .total .balance .balance_txt {
  font-size: 0.9rem;
  color: hsl(27, 66%, 92%);
}
.container .total img {
  width: 60px;
}
.container .semana_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: hsl(33, 100%, 98%);
  padding: 30px 20px;
  border-radius: 10px;
}
.container .semana_container .title {
  font-size: 1.55rem;
  font-weight: 700;
  color: hsl(25, 47%, 15%);
}
.container .semana_container .semana {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 12px;
  font-size: 0.9rem;
  margin-bottom: 26px;
  margin-top: 50px;
}
.container .semana_container .semana .dias {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  color: hsl(28, 10%, 53%);
  justify-content: end;
}
.container .semana_container .semana .g_dias {
  width: 33px;
  background-color: hsl(10, 79%, 65%);
  height: 50px;
  border-radius: 2px;
  align-items: center;
}
.container .semana_container .semana .g_dias:hover {
  background-color: hsla(10, 79%, 65%, 0.7);
  cursor: pointer;
}
.container .semana_container .semana .grafico_mon {
  height: 50px;
}
.container .semana_container .semana .grafico_thu {
  height: 90px;
}
.container .semana_container .semana .grafico_tue {
  height: 100px;
}
.container .semana_container .semana .grafico_wed {
  height: 150px;
  background-color: hsl(186, 34%, 60%);
}
.container .semana_container .semana .values {
  width: 60px;
  font-family: "DM Sans";
  font-size: 1rem;
  height: 30px;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  background-color: hsl(25, 47%, 15%);
  color: white;
}
.container .semana_container .semana .grafico_wed:hover {
  background-color: hsla(186, 34%, 60%, 0.7);
}
.container .semana_container .semana .grafico_wed:hover .value_wed {
  display: block;
}
.container .semana_container .semana .grafico_fri {
  height: 68px;
}
.container .semana_container .semana .grafico_sat {
  height: 125px;
}
.container .semana_container .semana .grafico_sun {
  height: 75px;
}
.container .semana_container .total_month_container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 25px;
}
.container .semana_container .total_month_container .total_month .total_month_txt {
  font-size: 0.9rem;
  color: hsl(28, 10%, 53%);
}
.container .semana_container .total_month_container .total_month .total_month_value {
  font-size: 1.8rem;
  color: hsl(25, 47%, 15%);
  font-weight: 700;
  margin-top: 5px;
}
.container .semana_container .total_month_container .last_month span {
  font-size: 1.1rem;
  color: hsl(25, 47%, 15%);
  font-weight: 700;
}
.container .semana_container .total_month_container .last_month p {
  font-size: 0.9rem;
  color: hsl(28, 10%, 53%);
  text-align: right;
  align-items: end;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  background-color: hsl(27, 66%, 92%);
  margin: 30px 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media screen and (min-width: 476px) {
  .container .total {
    height: 105px;
    padding: 27px 35px 27px 28px;
  }
  .container .total .balance .value {
    font-size: 1.7rem;
  }
  .container .total .balance .balance_txt {
    font-size: 1rem;
  }
  .container .total img {
    width: 65px;
  }
  .container .semana_container {
    height: 440px;
    padding: 31px 30px;
  }
  .container .semana_container .title {
    font-size: 1.85rem;
  }
  .container .semana_container .semana {
    font-size: 1rem;
  }
  .container .semana_container .semana .g_dias {
    transform: scaleX(1.2);
  }
  .container .semana_container .total_month_container .total_month .total_month_txt {
    font-size: 1rem;
  }
  .container .semana_container .total_month_container .total_month .total_month_value {
    font-size: 1.9rem;
  }
  .container .semana_container .total_month_container .last_month span {
    font-size: 1.2rem;
  }
  .container .semana_container .total_month_container .last_month p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 530px) {
  .container .total {
    height: 125px;
    padding: 30px 39px 30px 32px;
  }
  .container .total .balance .value {
    font-size: 1.8rem;
  }
  .container .total .balance .balance_txt {
    font-size: 1.1rem;
  }
  .container .total img {
    width: 70px;
  }
  .container .semana_container {
    height: 510px;
    padding: 35px 39px;
  }
  .container .semana_container .title {
    font-size: 2rem;
  }
  .container .semana_container .semana {
    font-size: 1.1rem;
  }
  .container .semana_container .semana .g_dias {
    transform: scaleX(1.5);
  }
  .container .semana_container .total_month_container .total_month .total_month_txt {
    font-size: 1.1rem;
  }
  .container .semana_container .total_month_container .total_month .total_month_value {
    font-size: 2rem;
  }
  .container .semana_container .total_month_container .last_month span {
    font-size: 1.3rem;
  }
  .container .semana_container .total_month_container .last_month p {
    font-size: 1.1rem;
  }
}/*# sourceMappingURL=style.css.map */